form .form-icons {
    text-align: center;
}

form .form-icons h4 {
    margin-bottom: 1rem;
}

form .form-icons .input-group-label {
    background-color: #1779ba;
    border-color: #1779ba;
}

form .form-icons .input-group-field {
    border-color: #1779ba;
}

form .form-icons .fa {
    color: white;
    width: 1rem;
}

.filter-block {
    display: flex;
    justify-content: space-between;
}

.sub-cat {
    box-sizing: border-box;
    /*padding-left: 15px;*/
}

.sub-cat a::before {
    content: '§';
    color: #FFFFFF;
    display: inline-block;
    margin-right: 15px;
}

p.help-text {
    font-size: 12px;
    margin-top: -10px;
    color: #6f6f6f;
}

td.boolean-field i {
    font-size: 24px;
}

td.boolean-field i.fa-times {
    color: #f04124;
}

td.boolean-field i.fa-check {
    color: #3a945b;
}

.products-container {

}

.products-container h3 {
    border-bottom: 1px solid #6f6f6f;
    padding-top: 20px;
    margin-bottom: 20px;
}

.product-actions {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0 !important;
}

.product-actions a {
    margin-left: 20px;
}

.product {

}

.product .product-image-wrapper {
    width: 100%;
    position: relative;
    height: 250px;
    overflow: hidden;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.product .product-image-wrapper img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product .product-info {

}

.product .product-info h5 {
    height: 50px;
    overflow-y: hidden;
}

td.product-count-area {
    width: 250px;
}

td.product-count-area div {
    display: inline-block;
}

td.product-count-area div input {
    width: 50px;
}

.row.justify-content-md-center {
    width: 450px !important;
}